# Don't forget to rename this file to .env and change the values 
#  of the variables if necessary (and delete this comment?)
APP_ENV='dev' # dev, prod :)

SECRET_KEY='SECRET_KEY'

# variables for development environment
DOMAIN_DEV='127.0.0.1'
DATABASE_URL_DEV='postgresql+psycopg2://postgres:postgres@localhost:5488/grimorios'

# variables for production environment
DOMAIN_PROD='DOMAIN_PROD'
DATABASE_URL_PROD='DATABASE_URL_PROD'
