# for presentation
fastapi
mangum
uvicorn
pyyaml
python-decouple
psycopg2-binary

# for business logic
pydantic
sqlalchemy
python-multipart

### START DEV REQUIREMENTS ###

# for linting
pre-commit
flake8
flake8-docstrings
flake8-import-order

# for testing
pytest
pytest-cov
pytest-responses
responses
